#square{
    width: 200px;
    height: 200px;
    background-color: aqua;
    animation-name: square_animation;
    animation-duration: 4s;
    position: relative;
    animation-direction: reverse;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes square_animation {
    0% { 
        background-color: aqua;
        top: 0;
        left: 0;
    }
    25%{
        background-color: aquamarine;
        left: 50%;
        top: 0;
    }
    50% { 
        background-color: red;
        left: 50%;
        top: 50vh;
    }
    75%{
        background-color: violet;
        left: 0;
        top: 50vh;
    }
    100% { 
        background-color: blue;
        top: 0;
        left: 0;
    }
}